body {
    font-family: 'Montserrat', sans-serif;
}

/* sections */

#title {
    background-color: #ff4c68;
    color: #fff;
}

#features {
    padding: 5% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#testimonials {
    color: #fff;
    text-align: center;
    background-color: #ef8172;
}

#press {
    padding: 5%;
    background-color: #ef8172;
    text-align: center;
}

#pricing {
    padding: 5%;
    text-align: center;
}

#cta {
    padding: 5%;
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
}

#footer {
    padding: 5%;
    text-align: center;
}

/* Containers */

.container-fluid {
    padding: 3% 15%;
}

.feature-box {
    text-align: center;
}

.carousel-item {
    padding: 5% 15%;
}

.plan-card {
    text-align: center;
    padding: 3% 2%;
}

/* Headings */
h1 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    text-align: center;
    font-family: "Montserrat-Black", sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
}

p {
    color: gray;
}

/* Navigation Bar */
.navbar {
    margin-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light", sans-serif;
}

/* Buttons */
.download-button {
    margin: 5% 3% 5% 0%;
}

.pricing-button {
    margin: 5% 3% 5% 0%;
}

/* Images */

.title-image {
    transform: rotate(25deg); /* Equal to rotate(25deg) */
    width: 300px;
    /*float: right;*/
    position: absolute;
    right: 20%;
}

.feature-icon {
    color: #ff4c68;
    margin-bottom: 1 rem;
}

.feature-icon:hover {
    color: pink;
}

.testimonial-image {
    width: 120px;
    border-radius: 50%;
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.footer-icon {
    margin: 0px 20px;
}

/* Media Query */
@media (max-width: 1028px) {

    .title-image {
        position: static;
        transform: rotate(0deg); /* Equal to rotate(25deg) */
        width: 270px;
        text-align: centre;
    }

    #title {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 900;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.7rem;
    }

}
